{% extends "TempleBundle:Main:main.html.twig" %}

  {% block content %}

<div class="col-sm-8">
    <div class="row">

            <div class="row">
                <div class="col-sm-12">
                    <div class="odstep35"></div>
                    <table class="table textformat">
                        <thead>
                        <tr>
                            <th class="titlepostDate">Author and date</th>
                            <th class="titlepost">Posts <br> {{ technologyArrow[0].name }}</th>
                        </tr>
                        </thead>
                        {% for post in postsLecturers %}
                           <tr>
                            <td class="posthead">
                               {% for user in users %}
                                    {% if post.userid == user.id %}
                                        {{ user.username }}
                                    {% endif %}
                                {% endfor %}
                                 {{ post.datetime |date('Y-m-d H:i:s' ) }}
                            </td>
                           <td class="Lecturercontent">
                               <div class="containerforButtons">
                                {{ post.content }}

                                 {% set n = random() %}
                                 {% set m =  random() %}

                                 {% if m == n  %}
                                    {% set m =  random() %}
                                 {% endif %}
                                 {% if post.userid == app.user.id %}

                                  <button class="buttonEdit" id="{{ n }}">edit post</button>

                                    <a href="{{ path('deletePost', {'postid' : post.id, 'student':'0','technologyid' : technologyid }) }}" class="deleteLink">
                                    <button class="buttonDelete">delete post</button></a>

                                         {% endif %}

                                       {% if  (post.editdatetime |date('Y-m-d H:i:s')) != '-0001-11-30 00:00:00' and (post.editdatetime) != null %}
                                  <span class="editspan">
                                  {#the line below was formatted innline cause I had troubles with end of line after twig commands#}
                                     Post was edited by {% for user in users %}{% if post.userid == user.id %}    {{ user.username }}  {% endif %}  {% endfor %}  at {{ post.editdatetime|date('Y-m-d H:i:s')}}</span>
                                   {% endif %}
                             </div>
                            </td>

                        </tr>
                           <tr class = "editPostInput" id = "{{ m }}">

                           <script type="text/javascript">
                                   $('#{{ n }}').on('click', function () {
                                    $('#{{ m }}').toggle(1000);
                                    });
                           </script>
                                <td class="postinfo">
                                </td>
                                <td class="content" >
                                {% if app.user %}

                                <form action="{{ path("editPost", {'postid' : post.id, 'student':'0','technologyid' : technologyid }) }}"
                                      method="post">

                                    <textarea name="content" id="{{ post.datetime |date('Y-m-d H:i:s' ) }}" class="boxsizingBorder"
                                             cols="250" rows="3">{{ post.content }}</textarea>
                                    <input type="submit" class="buttonEditSend" value="send changes">

                                </form>

                                {% endif %}

                                </td>
                            </tr>

                        {% endfor %}

                        {% for post in postStudents %}
                        <tr>
                            <td class="posthead">
                               {% for user in users %}
                                    {% if post.userid == user.id %}
                                        {{ user.username }}
                                    {% endif %}
                                {% endfor %}
                                 {{ post.datetime |date('Y-m-d H:i:s' ) }}
                            </td>
                           <td class="content">
                                <div class="containerforButtons">
                                {{ post.content }}

                                 {% set n = random() %}
                                 {% set m =  random() %}

                                 {% if m == n  %}
                                    {% set m =  random() %}
                                 {% endif %}
                                 {% if post.userid == app.user.id %}

                                  <button class="buttonEdit" id="{{ n }}">edit post</button>

                                    <a href="{{ path('deletePost', {'postid' : post.id, 'student':'1','technologyid' : technologyid }) }}" class="deleteLink">
                                    <button class="buttonDelete">delete post</button></a>

                                         {% endif %}

                                       {% if  (post.editdatetime |date('Y-m-d H:i:s')) != '-0001-11-30 00:00:00' and (post.editdatetime) != null %}
                                  <span class="editspan">
                                  {#the line below was formatted innline cause I had troubles with end of line after twig commands#}
                                     Post was edited by {% for user in users %}{% if post.userid == user.id %}    {{ user.username }}  {% endif %}  {% endfor %}  at {{ post.editdatetime|date('Y-m-d H:i:s')}}</span>
                                   {% endif %}
                             </div>
                            </td>

                        </tr>
                           <tr class = "editPostInput" id = "{{ m }}">

                           <script type="text/javascript">
                                   $('#{{ n }}').on('click', function () {
                                    $('#{{ m }}').toggle(1000);
                                    });
                           </script>
                                <td class="postinfo">
                                </td>
                                <td class="content" >
                                {% if app.user %}

                                <form action="{{ path("editPost", {'postid' : post.id, 'student':'1','technologyid' : technologyid }) }}"
                                      method="post">

                                    <textarea name="content" id="{{ post.datetime |date('Y-m-d H:i:s' ) }}" class="boxsizingBorder"
                                             cols="250" rows="3">{{ post.content }}</textarea>
                                    <input type="submit" class="buttonEditSend" value="send changes">

                                </form>

                                {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="line"></div>

            {% if app.user %}

                <form action="{{ path("inputPost", {'technologyid' : technologyid, 'userid': app.user.id }) }}"
                      method="post">

                    <textarea name="content" id="content" cols="250" rows="3" class="boxsizingBorder"
                    placeholder="add something smart to the topic ..."></textarea>
                    <input type="submit" class="buttonEditSend" value="send post">

                </form>

            {% endif %}
        </div>
    </div>
</div>
</div>
</div>


{% endblock %}





