<!DOCTYPE html>
<html lang="pl">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.countdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('Autolinker.js-master/src/Autolinker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/java.js') }}"></script>
    <meta charset="utf-8">
    <title>groupTemple</title>

</head>
{% block welcome %}

{% endblock %}
{% block menu %}

{% endblock %}

{% block courseInfo %}
{% endblock %}

{% block container %}

{% block show_user %}

{% endblock %}
{% block technology %}

{% endblock %}
{% block infoDelete %}

{% endblock %}
{% block content %}

{% endblock %}

{% endblock %}

{% block fos_user_content %}
{% endblock %}


{% block footer %}

{% endblock %}
